Website Monitor - Zero Setup.json
{
  "name": "Website Monitor - Zero Setup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "name": "Check Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1440,
        -48
      ],
      "id": "8bfdb289-427f-4dc7-9549-55346ee99a7e"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "website_url",
              "value": "https://www.google.com"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Website URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1232,
        -48
      ],
      "id": "e656dde4-5761-4884-9066-27f10842bbaa"
    },
    {
      "parameters": {
        "url": "={{ $json.website_url }}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Check Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1040,
        -48
      ],
      "id": "9dea33b1-2d21-49bb-ada2-4c89784af5e8",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "equal",
              "value2": 200
            }
          ]
        },
        "options": {}
      },
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -832,
        -48
      ],
      "id": "9780d769-8f18-437b-8626-8787f3573191"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "timestamp",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "name": "url",
              "value": "={{ $('Set Website URL').item.json.website_url }}"
            },
            {
              "name": "status",
              "value": "UP ✅"
            },
            {
              "name": "status_code",
              "value": "={{ $json.statusCode }}"
            },
            {
              "name": "message",
              "value": "Website is online and responding"
            }
          ]
        },
        "options": {}
      },
      "name": "Success Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -640,
        -144
      ],
      "id": "a8b71f6c-c5d6-459f-b9e7-8d46a94da09b"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "timestamp",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "name": "url",
              "value": "={{ $('Set Website URL').item.json.website_url }}"
            },
            {
              "name": "status",
              "value": "DOWN ❌"
            },
            {
              "name": "status_code",
              "value": "={{ $json.statusCode || 'N/A' }}"
            },
            {
              "name": "message",
              "value": "={{ $json.error || $json.message || 'Connection failed' }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Failure Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -640,
        64
      ],
      "id": "60a76faf-62fa-4fdf-9bf1-092baec092e9"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n  item.json.myNewField = 1;\n}\n\nreturn items;\n"
      },
      "name": "Display Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -48
      ],
      "id": "ddb7ce3b-f630-4ead-9453-bca4b89aa1e4"
    }
  ],
  "pinData": {},
  "connections": {
    "Check Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Set Website URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Website URL": {
      "main": [
        [
          {
            "node": "Check Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Success Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Log": {
      "main": [
        [
          {
            "node": "Display Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failure Log": {
      "main": [
        [
          {
            "node": "Display Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a310b2ab-b381-4aaf-83e0-b845295b5718",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d463bc361a7389c26271e9bb6fdf0e737f0eef69e9a6d00e289d0c953e419938"
  },
  "id": "P40YfOZIzKjsFtdW",
  "tags": []
}